fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic[email]
pydantic-settings
pymysql
python-dotenv
passlib[bcrypt]  
bcrypt          
Pillow
httpx
python-jose[cryptography]
fastapi-mail
python-multipart 