fastapi
uvicorn[standard]
sqlalchemy
pydantic
gunicorn
pydantic[email]
pydantic-settings
pymysql
python-dotenv
passlib[bcrypt]  
bcrypt          
Pillow
httpx
python-jose[cryptography]
fastapi-mail
python-multipart 
rembg
onnxruntime
numpy
pytest
pytest-asyncio
pytest-dotenv
alembic
pyjwt
redis