fastapi
uvicorn[standard]
sqlalchemy
pydantic
gunicorn
pydantic[email]
pydantic-settings
pymysql
python-dotenv
bcrypt==4.0.1
passlib[bcrypt]==1.7.4         
Pillow
httpx
python-jose[cryptography]
fastapi-mail
python-multipart 
rembg
onnxruntime
numpy
pytest
pytest-asyncio
pytest-dotenv
pytest-cov
alembic
pyjwt
redis