name: Backend CI

on:
  push:
    branches:
      - "main"
      - "test"
      - "HH"
  pull_request:
    branches:
      - "main"

jobs:
  check-health-be-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Check health endpoint
        env:
          URL: ${{ secrets.TAILSCALE_BASE_ENDPOINT }}health
        run: |
          echo "Checking health at: $URL"
          curl -f -v --retry 5 --retry-delay 5 --max-time 10 "$URL"
          echo "Server backend vẫn sống khỏe!"


  
